@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Slide out animation */
@keyframes slideOut {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  /* Slide in animation */
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Apply the animations */
  .slide-out {
    animation: slideOut 0.3s forwards;
  }
  
  .slide-in {
    animation: slideIn 0.3s backwards;
  }
  